.block-1{
    background-image: url(img/1647134585_1-gamerwall-pro-p-minimalisticheskie-arti-krasivie-oboi-2.jpg);
    
    
}
.first-h{
    text-align:center;
    margin-top:50px
}
.first-h3{
    text-align: center;
    padding: auto;
    margin: 50px;
}
first-btn{
    text-align: center;
    padding: auto;
    margin: 50px;
}